<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fmf.webwork.fmf.mapper.FileMapper">

    <insert id="fileInsert" >
        insert into upload(file_name,file_sql_path,file_size,file_ext,file_time,file_owner) values(#{file_name},#{file_sql_path},#{file_size},#{file_ext},#{file_time},#{file_owner})
    </insert>

    <resultMap id="fileEntity" type="fmf.webwork.fmf.Entity.FileEntity" >
        <result column="id" property="id"></result>
        <result column="file_name" property="file_name"></result>
        <result column="file_sql_path" property="file_sql_path"></result>
        <result column="file_size" property="file_size"></result>
        <result column="file_ext" property="file_ext"></result>
        <result column="file_time" property="file_time"></result>
        <result column="file_owner" property="file_owner"></result>
    </resultMap>
    <select id="findAll" resultMap="fileEntity">
        select * from upload limit #{start},#{end}
    </select>
    <select id="findById" resultMap="fileEntity">
        select * from upload where id=#{id}
    </select>
    <select id="countFiles" resultType="Integer">
        select count(id) from upload
    </select>
    <delete id="deleteFileById">
        delete from upload where id=#{id}
    </delete>
</mapper>